<style>
  mat-form-field {
    width: 90%;
    margin-left: 5px;
  }
</style>


<div *ngIf="book">
  <div>
    <mat-card>
      <mat-card-title>
        <div>
          <span hide-xs>Libro</span>
        </div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <div flex layout-gt-sm="row" layout-align="center center">
        <div flex-gt-sm="60">
          <form flex #bookForm="ngForm">
            <div flex layout-gt-sm="row" layout-align="center start">
              <div flex-gt-sm="80">
                <mat-form-field>
                  <input type="text" matInput name="titulo" [(ngModel)]="book.title" placeholder="Titulo Obra"
                    value={{book.title}}>
                </mat-form-field>
              </div>
            </div>
            <div flex layout-gt-sm="row" layout-align="center start">
              <div flex-gt-sm="80">
                <mat-form-field>
                  <input type="text" matInput name="urlImgCoverPage" [(ngModel)]="book.urlImgCoverPage"
                    placeholder="URL Portada" value={{book.urlImgCoverPage}}>
                </mat-form-field>
              </div>
            </div>
            <div flex layout-gt-sm="row" layout-align="center start">
              <div flex-gt-sm="80">
                <div flex-gt-sm="50">
                  <mat-form-field>
                    <input matInput [max]="maxToDate" name="publishDate" placeholder="Fecha de Publicación"
                      value={{book.publishDate}} [(ngModel)]="book.publishDate" [matDatepicker]="pickerDate"
                      [ngModelOptions]="{standalone: true}" />
                    <mat-datepicker-toggle matSuffix matTooltip="Fecha" [for]="pickerDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDate [startAt]="date"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div flex layout-gt-sm="row" layout-align="center start">
              <div flex-gt-sm="80">
                <mat-form-field>
                  <input type="text" matInput name="nameEdit" placeholder="Nombre Editorial" [(ngModel)]="book.nameEdit"
                    value={{book.nameEdit}}>
                </mat-form-field>
              </div>
            </div>
            <div flex layout-gt-sm="row" layout-align="center start">
              <div flex-gt-sm="80">
                <mat-form-field>
                  <input id="urlEdit" type="text" matInput name="urlEdit" placeholder="URL Editorial" [(ngModel)]="book.urlEdit"
                    value={{book.urlEdit}}>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="loginService.isLogged && loginService.isAdmin"  flex layout-gt-sm="row" layout-align="center start">
              <td-file-input [(ngModel)]="image" color="primary" (select)="imageBook(image)" accept=".jpg, .jpeg"
                [ngModelOptions]="{standalone: true}" [disabled]="disabled" multiple>
                <mat-icon>attach_file</mat-icon><span>Elija una imagen...</span>
              </td-file-input>
            </div>

            <div class="push-top-lg" flex layout-gt-sm="row" *ngIf="loginService.isLogged && loginService.isAdmin"
              layout-align="center start">
              <div flex-gt-sm="80">
                <button mat-stroked-button (click)=saveBook(book)>
                  <mat-icon>save</mat-icon>
                  Guardar
                </button>
                <button mat-stroked-button class="push-left-md" (click)="deleteBook(book)">
                  <mat-icon>delete</mat-icon>
                  Eliminar
                </button>
              </div>
            </div>


          </form>
        </div>
        <div flex-gt-sm="40">
          <div flex-gt-sm="100">
            <img width="200" height="200" src="{{'image/' + book.imgId}}" [routerLink]="['/book', book.id]">
          </div>
          <div class="push-top-xs" lex-gt-sm="100">
            <img width="200" height="200" src="theme.png" > <!--TODO: Cambiar a editorial urlEdit-->
          </div>
          <!--Image and Map-->
        </div>

      </div>

    </mat-card>
  </div>
</div>