
<style>
    mat-form-field {
        width: 90%;
        margin-left:5px;
}
</style>

<div flex layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']" >
    <div flex-gt-sm="80">
        <mat-card>
            <mat-card-title>
                <div >
                    <span hide-xs>Libro</span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <div flex layout-gt-sm="row" layout-align="center center">
                    <div flex-gt-sm="60">
                        <form flex #bookForm="ngForm">
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput name="title"[(ngModel)]="book.title"placeholder="Titulo Obra">
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput name="urlImgCoverPage"[(ngModel)]="book.urlImgCoverPage" placeholder="URL Portada" >
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <div flex-gt-sm="50">
                                        <mat-form-field >
                                            <input matInput [max]="maxToDate" name="publishDate"placeholder="Fecha de Publicación"  [(ngModel)]="book.publishDate"
                                            [matDatepicker]="pickerDate" [ngModelOptions]="{standalone: true}" />
                                            <mat-datepicker-toggle matSuffix matTooltip="Fecha" [for]="pickerDate"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerDate [startAt]="date"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput name="nameEdit" placeholder="Nombre Editorial" [(ngModel)]="book.nameEdit"  >
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput name="urlEdit" placeholder="URL Editorial" [(ngModel)]="book.urlEdit" >
                                    </mat-form-field>
                                </div>
                            </div>
                        <div flex layout-gt-sm="row" layout-align="center center"> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="30">
                                    <mat-checkbox>Cita 1</mat-checkbox>
                                    <mat-checkbox>Cita 2</mat-checkbox>
                                </div>
                            </div>
                        
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="30">
                                        <mat-radio-group>
                                            <mat-radio-button value="1">Tema 1</mat-radio-button>
                                            <mat-radio-button value="2">Tema 2</mat-radio-button>
                                        </mat-radio-group>
                                </div>
                            </div>
                        </div>
                            <div *ngIf="loginService.isLogged && loginService.isAdmin" class="push-top-lg" flex layout-gt-sm="row" layout-align="center start">
                                    <div flex-gt-sm="80">
                                            <button mat-stroked-button (click)="saveBook(book)"> 
                                                <mat-icon>save</mat-icon>
                                                Guardar</button>
                                    </div>
                            </div>
                        
                             
                        </form> 
                    </div>
                    <div flex-gt-sm="40">
                        <div  flex-gt-sm="100">
                            <img src="assets/theme.png">
                        </div>
                        <div class="push-top-xs"lex-gt-sm="100">
                            <img src="assets/theme.png">
                        </div>
                        <!--Image and Map-->
                    </div>
                    
            </div>
           
        </mat-card>
    </div>
</div>