<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/']" routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}" [active]="rla.isActive">
        Inicio
    </a>
    <div *ngFor="let tab of nTabs">
        <div style="background-color: whitesmoke;">
            <a mat-tab-link [routerLink]=tab.url routerLinkActive #rla="routerLinkActive"
                [routerLinkActiveOptions]="{exact: true}" [active]="rla.isActive">
                {{tab.name}}
            </a>
            <mat-icon style="padding-top: 8px;" class="cursor-pointer" (click)="closeTab(tab)"> 
                close
            </mat-icon>
        </div>
    </div>

</nav>

<router-outlet></router-outlet>