<div class>
  <mat-tab-group>
    <div *ngFor="let tab of nTabs">
      <mat-tab label={{tab.name}}>
        <div [ngSwitch]=tab.name>
          <div *ngSwitchCase="'Autores'">
            <authorColumn></authorColumn>
          </div>
          <div *ngSwitchCase="'Temas'">
            <themeForm></themeForm>
          </div>
          <div *ngSwitchCase="'Libros'">
            <bookColumn></bookColumn>
          </div>

          <div *ngSwitchCase="'Inicio'">
            <indexComponent></indexComponent>
          </div>
        </div>
      </mat-tab>

    </div>
  </mat-tab-group>
</div>