<td-layout
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'"
    [class]="activeTheme"
>
    <td-layout-nav
        [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'Citas Bibliográficas' : ''"
        logo="assets:covalent"
        navigationRoute="/">
        <div td-toolbar-content layout="row" layout-align="end" flex> 
            <header></header>
        </div>        
            <div flex layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
                <!-- Se borrará-->
                <div flex-gt-sm="80" >
                    <router-outlet></router-outlet>
                </div>
                <!--/Se borrará-->
                <!--Columns -->
                        <div flex-gt-sm="33">
                            <authorColumn></authorColumn>
                        </div>
                        <div flex-gt-sm="33">
                            <bookColumn></bookColumn>
                        </div>
                        <div flex-gt-sm="33">
                            <mat-card>
                                <mat-card-title>
                                    <div layout="row" layout-align="start center">
                                        <span flex>Card title</span>
                                        <span>
                                            <button mat-icon-button matTooltip="Card settings" [mat-menu-trigger-for]="settings2">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu xPosition="before" #settings2="matMenu">
                                                <button mat-menu-item>Settings</button>
                                                <mat-divider></mat-divider>
                                                <button mat-menu-item>Remove</button>
                                            </mat-menu>
                                        </span>
                                    </div>
                                </mat-card-title>
                                <mat-divider></mat-divider>
                                <div class="pad">
                                    <div [style.height.px]="250">
                                        <ngx-charts-bar-vertical-2d
                                            [scheme]="{ domain: ['#4DD0E1', '#BA68C8', '#FF7043'] }"
                                            [results]="multi"
                                            [barPadding]="18"
                                            [groupPadding]="28"
                                            [gradient]="true"
                                            [xAxis]="true"
                                            [yAxis]="true"
                                            [legend]="false"
                                            [showXAxisLabel]="false"
                                            [showYAxisLabel]="false"
                                        >
                                        </ngx-charts-bar-vertical-2d>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
            </div>
                <!--/Columns-->
        
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption"
                    >Made with <mat-icon class="text-md">favorite</mat-icon> using
                    <a href="http://getcovalent.com" class="text-nodecoration tc-teal-600">Covalent</a>, built on Angular v7 +
                    Angular Material + NGX-Charts.</span>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout>
<!--
<ng-template #dialogContent let-dialogRef="dialogRef">
    <div layout="column" layout-fill>
        <h2 mat-dialog-title>
            Card Settings
        </h2>
        <mat-divider></mat-divider>
        <mat-dialog-content flex>
            <form class="pad">
                <div layout="row" layout-margin>
                    <mat-form-field flex>
                        <input matInput placeholder="Card order" value="1" type="number" />
                    </mat-form-field>
                    <mat-form-field flex>
                        <input matInput placeholder="Card width" value="100" type="number" />
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-divider></mat-divider>
        <mat-dialog-actions align="end">
            <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
            <button type="button" mat-button color="accent" class="text-upper" (click)="dialogRef.close()">Save</button>
        </mat-dialog-actions>
    </div>
</ng-template>
-->
