<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'" 
    [class]="activeTheme">
    <td-layout-nav [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 
    'Citas Bibliográficas' : ''" navigationRoute="/">
    <!-- If we want logo covalent: logo="assets:covalent"-->
        <div td-toolbar-content layout="row" layout-align="end" flex>
            <header></header>
        </div>
        <tabs> </tabs>
        <indexComponent></indexComponent>

        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption">
                    Rodrigo López, Raúl Martín, Rubén Bernabé, Óscar Carazo, Natalia Madrueño
                </span>
                <span flex></span>
                <span class="mat-caption">
                    Made with <mat-icon class="text-md">favorite</mat-icon> by Grupo 1
                </span>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout>
<!--
<ng-template #dialogContent let-dialogRef="dialogRef">
    <div layout="column" layout-fill>
        <h2 mat-dialog-title>
            Card Settings
        </h2>
        <mat-divider></mat-divider>
        <mat-dialog-content flex>
            <form class="pad">
                <div layout="row" layout-margin>
                    <mat-form-field flex>
                        <input matInput placeholder="Card order" value="1" type="number" />
                    </mat-form-field>
                    <mat-form-field flex>
                        <input matInput placeholder="Card width" value="100" type="number" />
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-divider></mat-divider>
        <mat-dialog-actions align="end">
            <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
            <button type="button" mat-button color="accent" class="text-upper" (click)="dialogRef.close()">Save</button>
        </mat-dialog-actions>
    </div>
</ng-template>
-->