<div >
        <mat-card>
            <mat-card-title>
                <div layout="row" layout-align="start center">
                    <span flex>Columna de autores</span>
                    <span>
                        <button mat-icon-button matTooltip="Card settings" [mat-menu-trigger-for]="settings1">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu xPosition="before" #settings1="matMenu">
                            <button mat-menu-item (click)="openTemplate()">Settings</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
                    <div flex-gt-sm="50">
                            <h1>Nombres de autores</h1>
                    </div>
                    <div flex-gt-sm="50">
                            <h1>Nombres de autores</h1>
                    </div>

            </div>
            <span flex *ngIf="!searchBox.searchVisible"></span>
            <td-search-box
                hide-xs
                flex
                #searchBox
                [ngClass]="{ 'push-left push-right mat-whiteframe-z1 bgc-white tc-black': searchBox.searchVisible }"
                placeholder="search"
            ></td-search-box>
        </mat-card>
</div>