
<style>
    mat-form-field {
        width: 90%;
        margin-left:5px;
}
</style>

<div >
        <mat-card>
            <mat-card-title>
                <div >
                    <span hide-xs>Autor</span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <div flex layout-gt-sm="row" layout-align="center center">
                    <div flex-gt-sm="60">
                        <form flex >
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput  placeholder="Nombre" >
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput  placeholder="URL Imagen" >
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="40">
                                    <mat-form-field >
                                        <input matInput [max]="maxToDate" placeholder="Fecha de nacimiento" [(ngModel)]="dateBirth" [matDatepicker]="pickerBirth" />
                                        <mat-datepicker-toggle matSuffix matTooltip="Fecha de nacimiento" [for]="pickerBirth"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerBirth [startAt]="dateBirth"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div flex-gt-sm="40">
                                    <mat-form-field >
                                        <input matInput [max]="maxToDate" placeholder="Fecha de defunción" [(ngModel)]="dateDeath" [matDatepicker]="pickerDeath" />
                                        <mat-datepicker-toggle matSuffix matTooltip="Fecha de defunción" [for]="pickerDeath"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerDeath [startAt]="dateDeath"></mat-datepicker>
                                    </mat-form-field>
                                </div> 
                            </div>
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput  placeholder="Lugar de nacimiento" >
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="80">
                                    <mat-form-field >
                                        <input type="text" matInput  placeholder="URL Mapa" >
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="30">
                                    <mat-checkbox>Libro 1</mat-checkbox>
                                    <mat-checkbox>Libro 2</mat-checkbox>
                                </div>
                            </div> 
                        </form> 
                    </div>
                    <div flex-gt-sm="40">
                        <img src="assets/theme.png">
                        <mat-radio-group>
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                        </mat-radio-group>
                        <!--Image and Map-->
                    </div>
            </div>
           
        </mat-card>
</div>