
<style>
    mat-form-field {
        width: 90%;
        margin-left:5px;
}
</style>

<div >
        <mat-card>
            <mat-card-title>
                <div >
                    <span hide-xs>Tema</span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <div flex layout-gt-sm="row" layout-align="center center">
                    <div flex-gt-sm="50">
                        <div  flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="100">
                                <form flex >
                                    <mat-card>
                                        <mat-card-title>
                                            <h3>Cita 1</h3>
                                        </mat-card-title>
                                        <mat-card-content>
                                            <div flex layout-gt-sm="row" layout-align="center start">
                                                <div flex-gt-sm="80">
                                                    <mat-form-field >
                                                        <input type="text" matInput  placeholder="Texto de la cita" >
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div flex layout-gt-sm="row" layout-align="center start">
                                                <div flex-gt-sm="80" layout-gt-sm="row">
                                                    <button mat-stroked-button>Guardar</button>
                                                    <button mat-stroked-button class="push-left-xs">Eliminar</button>
                                                </div>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>               
                                </form>
                            </div>  
                        </div>
                        <div  flex layout-gt-sm="row" layout-align="center start">
                                <div flex-gt-sm="100">
                                    <form flex >
                                        <mat-card>
                                            <mat-card-title>
                                                <h3>Cita 2</h3>
                                            </mat-card-title>
                                            <mat-card-content>
                                                <div flex layout-gt-sm="row" layout-align="center start">
                                                    <div flex-gt-sm="80">
                                                        <mat-form-field >
                                                            <input type="text" matInput  placeholder="Texto de la cita" >
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div flex layout-gt-sm="row" layout-align="center start">
                                                    <div flex-gt-sm="80" layout-gt-sm="row">
                                                        <button mat-stroked-button>Guardar</button>
                                                        <button mat-stroked-button class="push-left-xs">Eliminar</button>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>               
                                    </form>
                                </div>  
                            </div>
                    </div>
                    <div flex-gt-sm="50">
                        <img src="assets/theme.png">
                        <iframe src="https://www.google.com/maps/place/Calama,+Regi%C3%B3n+de+Antofagasta,+Chile/@-22.4611894,-68.9584051,13z/data=!3m1!4b1!4m5!3m4!1s0x96ab978f95a58b0d:0xfe7a093627c72306!8m2!3d-22.4543923!4d-68.9293819" frameborder="0" style="border:0"></iframe>
                        <!--Image and Map-->
                    </div>
            </div>
           
        </mat-card>
</div>