<style>
    mat-form-field {
        width: 90%;
        margin-left: 5px;
    }
</style>

<div *ngIf="author">
    <div>
        <mat-card>
            <mat-card-title>
                <div>
                    <span hide-xs>Autor</span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <div flex layout-gt-sm="row" layout-align="center center">
                <div flex-gt-sm="60">
                    <form flex>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput placeholder={{author.name}}>
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput placeholder={{author.urlImage}}>
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="40">
                                <mat-form-field>
                                    <input matInput [max]="maxToDate" placeholder={{author.birthDate}}
                                        [(ngModel)]="dateBirth" [matDatepicker]="pickerBirth"
                                        [ngModelOptions]="{standalone: true}" />
                                    <mat-datepicker-toggle matSuffix matTooltip="Fecha de nacimiento"
                                        [for]="pickerBirth">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerBirth [startAt]="dateBirth"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div flex-gt-sm="40">
                                <mat-form-field>
                                    <input matInput [max]="maxToDate" placeholder={{author.deathDate}}
                                        [(ngModel)]="dateDeath" [matDatepicker]="pickerDeath"
                                        [ngModelOptions]="{standalone: true}" />
                                    <mat-datepicker-toggle matSuffix matTooltip="Fecha de defunción"
                                        [for]="pickerDeath">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerDeath [startAt]="dateDeath"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput placeholder={{author.bornPlace}}>
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput placeholder={{author.urlMap}}>
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="30">
                                <mat-checkbox>Libro 1</mat-checkbox>
                                <mat-checkbox>Libro 2</mat-checkbox>
                            </div>
                        </div>
                        <div *ngIf="loginService.isLogged && loginService.isAdmin" flex layout-gt-sm="row" class="push-top-lg" layout-align="center start">
                            <div flex-gt-sm="80">
                                <button mat-stroked-button>
                                    <mat-icon>edit</mat-icon>
                                    Editar
                                </button>
                                <button mat-stroked-button class="push-left-md">
                                    <mat-icon>delete</mat-icon>
                                    Eliminar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <div flex-gt-sm="40">
                    <img src="{{'image/' + author.imgId}}">
                    <iframe class="push-top-xs"
                        src="https://www.google.com/maps/place/Calama,+Regi%C3%B3n+de+Antofagasta,+Chile/@-22.4611894,-68.9584051,13z/data=!3m1!4b1!4m5!3m4!1s0x96ab978f95a58b0d:0xfe7a093627c72306!8m2!3d-22.4543923!4d-68.9293819"
                        frameborder="0" style="border:0"></iframe>
                    <!--Image and Map-->
                </div>

            </div>

        </mat-card>
    </div>
</div>