<div flex layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    <div *ngIf='author'flex-gt-sm="80">
        <authorDetail [author]='author'></authorDetail>
    </div>
    <!--/Se borrará-->
    <!--Columns -->
    <div flex-gt-sm="33">
        <themeColumn [themes]='themes'></themeColumn>
    </div>
    <div *ngIf='author' flex-gt-sm="33">
        <bookColumn [books]='books'></bookColumn>
    </div>
    <div flex-gt-sm="33">
        <citationColumn [citations]='citations'></citationColumn>
    </div>
    

    <div flex layout-gt-sm="row" layout-align="center center">
        <div flex-gt-sm="100">
            <button mat-raised-button matTooltip="Histograma" class="push-left-md">
                <mat-icon>add</mat-icon> Histograma
            </button>
        </div>
    </div>
</div>
<!--/Columns-->