<style>
    mat-form-field {
        width: 90%;
        margin-left: 5px;
    }
</style>

<div *ngIf="author">
    <div>
        <mat-card>
            <mat-card-title>
                <div>
                    <span hide-xs>Autor</span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <div flex layout-gt-sm="row" layout-align="center center">
                <div flex-gt-sm="60">
                    <form flex #authorForm="ngForm">
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput  name="name"[(ngModel)]="author.name"value={{author.name}} #authorFormElement
                                    #authorFormControl="ngModel" placeholder="Nombre">
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput  name="urlImage"[(ngModel)]="author.urlImage" value={{author.urlImage}} #authorFormElement
                                    #authorFormControl="ngModel" placeholder="URL Imagen">
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="40">
                                <mat-form-field>
                                    <input  name="birthDate" matInput [max]="maxToDate" value={{author.birthDate}} placeholder="Fecha de nacimiento" #authorFormElement
                                    #authorFormControl="ngModel"
                                        [(ngModel)]="author.birthDate" [matDatepicker]="pickerBirth"
                                        [ngModelOptions]="{standalone: true}" />
                                    <mat-datepicker-toggle matSuffix matTooltip="Fecha de nacimiento"
                                        [for]="pickerBirth">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerBirth [startAt]="dateBirth"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div flex-gt-sm="40">
                                <mat-form-field>
                                    <input  name="deathDate" matInput [max]="maxToDate" value={{author.deathDate}}  placeholder="Fecha de defunción" #authorFormElement
                                    #authorFormControl="ngModel"
                                        [(ngModel)]="author.deathDate" [matDatepicker]="pickerDeath"
                                        [ngModelOptions]="{standalone: true}" />
                                    <mat-datepicker-toggle matSuffix matTooltip="Fecha de defunción"
                                        [for]="pickerDeath">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerDeath [startAt]="dateDeath"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput  name="bornPlace"placeholder="Lugar de nacimiento" [(ngModel)]="author.bornPlace"value={{author.bornPlace}} #authorFormElement
                                    #authorFormControl="ngModel">
                                </mat-form-field>
                            </div>
                        </div>
                        <div flex layout-gt-sm="row" layout-align="center start">
                            <div flex-gt-sm="80">
                                <mat-form-field>
                                    <input type="text" matInput  name="urlMap" placeholder="URL Mapa" [(ngModel)]="author.urlMap" value={{author.urlMap}} #authorFormElement
                                    #authorFormControl="ngModel">
                                </mat-form-field>
                            </div>
                        </div>

                        <div flex layout-gt-sm="row" layout-align="center start">
                            <td-file-input [(ngModel)]="image" color="primary" (select)="imageAuthor(image)"
                             accept=".jpg, .jpeg" [ngModelOptions]="{standalone: true}" [disabled]="disabled" multiple>
                                <mat-icon>attach_file</mat-icon><span>Elija una imagen...</span>
                            </td-file-input>
                        </div>
                        
                        <div *ngIf="loginService.isLogged && loginService.isAdmin" flex layout-gt-sm="row" class="push-top-lg" layout-align="center start">
                            <div flex-gt-sm="80">
                                <button mat-stroked-button (click)="saveAuthor(author)">
                                    <mat-icon>edit</mat-icon>
                                    Editar
                                </button>
                                <button mat-stroked-button (click)="deleteAuthor(author)"class="push-left-md">
                                    <mat-icon>delete</mat-icon>
                                    Eliminar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <div flex-gt-sm="40">
                    <img src="{{'image/' + author.imgId}}">
                    <iframe class="push-top-xs push-bottom-xs"
                        src="{{author.urlMap}}"
                        ></iframe>
                    <!--Image and Map-->
                </div>

            </div>

        </mat-card>
    </div>
</div>