<div class="row top-row">
    <div class="author-form">
        <div class="card">
        	<div class="card-header card-header-text card-header-primary">
            	<div class="card-text">
                	<h4 class="card-title">Nuevo Autor</h4>
                </div>
            </div>
            <div class="container row">
                <form class="form-horizontal col-sm-8">
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>Nombre</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="nameAuthor">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row ">
                            <div class="form-inline col-sm-0">
                                <label>Fecha de nacimiento</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" class="form-control text-truncate" name="birthDate">
                            </div>
                            <div class="form-inline col-sm-0">
                                <label>Fecha de defunción</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" class="form-control text-truncate" name="defuncDate">
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>Lugar de nacimiento</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control text-truncate"
                                       name="bornPlace">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>URL del mapa</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control text-truncate" name="urlMap">
                            </div>
                        </div>
                    </div>

                </form>

                <form class="form-vertical col-sm-4">
					<div class="fileinput fileinput-new text-center col-sm-10" data-provides="fileinput">
    					<div class="fileinput-new thumbnail img-raised">
        					<img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png" alt="...">
    					</div>
    					<div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
    					<div>
        					<span class="btn btn-raised btn-round btn-default btn-file">
            					<input type="file" name="file"/>
        					</span>
    					</div>
					</div>

                    <div class="row">
                        <div class="text-center col-sm-10">
                            <div id="map-container-google-1" class="z-depth-1-half map-container"
                                 style=" height: 200px;width:200px;float: right;padding: 5px">
                                <iframe src="/assets/img/noMap.png" frameborder="0" style="border:0"></iframe>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>                    
                </form>
            </div>
        </div>
    </div>
</div>