<div class="row top-row">
    <div class="author-form">
        <div class="card">
            <div class="container row">
            {{#author}}
                <form class="form-horizontal col-sm-8">
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>Nombre</label>
                            </div>
                            <div class="col-sm-10">
                                <!--<input type="text" class="form-control" value="{{name}}">-->
                                <label class="form-control text-truncate">{{name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>URL Imagen</label>
                            </div>
                            <div class="col-sm-10">
<!--                                 <input type="text" class="form-control text-truncate" -->
<!--                                        value="{{urlImage}}"> -->
                                       
                                <label class="form-control text-truncate">{{urlImage}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row ">
                            <div class="form-inline col-sm-0">
                                <label>Fecha de nacimiento</label>
                            </div>
                            <div class="col-sm-3">
<!--                                 <input type="date" class="form-control text-truncate" value="{{bornDate}}"> -->
                                <label class="form-control text-truncate">{{deathDate}}</label>
                            </div>
                            <div class="form-inline col-sm-0">
                                <label>Fecha de defunción</label>
                            </div>
                            <div class="col-sm-3">
<!--                                 <input type="date" class="form-control text-truncate" value="{{deathDate}}"> -->
                                <label class="form-control text-truncate">{{deathDate}}</label>
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>Lugar de nacimiento</label>
                            </div>
                            <div class="col-sm-9">
<!--                                 <input type="text" class="form-control text-truncate" -->
<!--                                        value="{{bornPlace}}"> -->
                                <label class="form-control text-truncate">{{bornPlace}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>URL del mapa</label>
                            </div>
                            <div class="col-sm-10">
                                <!--<input type="text" class="form-control text-truncate"
                                       value="{{urlMap}}">-->
                                       <label class="form-control text-truncate">{{urlMap}}</label>
                            </div>
                        </div>
                    </div>

                </form>

                <form class="form-vertical col">
                    <div class="row">
                        <div class="text-center col-sm-10">
                            <img src="{{urlImage}}"
                                 class="float-right rounded" alt="..." style="max-width: 100px;padding: 5px;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center col-sm-10">
                            <div id="map-container-google-1" class="z-depth-1-half map-container"
                                 style=" height: 200px;width:200px;float: right;padding: 5px">
                                <iframe src="{{urlMap}}" frameborder="0" style="border:0"></iframe>
                            </div>
                        </div>
                    </div>
                </form>
            {{/author}}                
            </div>
        </div>
    </div>
</div>