<div class="row top-row">
    <div class="author-form">
        <div class="card">
            <div class="container row">
                <form class="form-horizontal col-sm-8">
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>Nombre</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="Alan Mathison Turing">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>URL Imagen</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control text-truncate"
                                       value="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Alan_Turing_Aged_16.jpg/440px-Alan_Turing_Aged_16.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row ">
                            <div class="form-inline col-sm-0">
                                <label>Fecha de nacimiento</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" class="form-control text-truncate" value="1912-06-23">
                            </div>
                            <div class="form-inline col-sm-0">
                                <label>Fecha de defunción</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" class="form-control text-truncate" value="1954-06-07">
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>Lugar de nacimiento</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control text-truncate"
                                       value="Maida Vale, Reino Unido de Gran Bretaña e Irlanda">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline col-sm-0">
                                <label>URL del mapa</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control text-truncate"
                                       value="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Alan_Turing_Aged_16.jpg/440px-Alan_Turing_Aged_16.jp">
                            </div>
                        </div>
                    </div>

                </form>

                <form class="form-vertical col">
                    <div class="row">
                        <div class="text-center col-sm-10">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Alan_Turing_Aged_16.jpg/440px-Alan_Turing_Aged_16.jpg"
                                 class="float-right rounded" alt="..." style="max-width: 100px;padding: 5px;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center col-sm-10">
                            <div id="map-container-google-1" class="z-depth-1-half map-container"
                                 style=" height: 200px;width:200px;float: right;padding: 5px">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75132.22175705049!2d-0.2604624272851899!3d51.53606625037453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761009a098e00b%3A0x261185c6bcdb02a2!2sMaida+Vale%2C+Londres%2C+Reino+Unido!5e0!3m2!1ses!2ses!4v1549226048515"
                                        frameborder="0" style="border:0"></iframe>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>