<script src="../js/loadcontent.js"></script>
<!-- OBRAS -->
<div class="temas-box col-sm-12 col-md-6 col-lg-4">
    <div class="card cajas">
        <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
                <h4 class="card-title">Obras</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="daw-miniatures" id="moreThemes">
				<div class="row">
					{{#books}}
					<div class="col-md-6">
						<a href="/book/{{id}}">
							<div class="card bg-dark text-white col">
								<img class="card-img" src="/image/{{imgId}}" alt="Card image">
								<div class="card-img-overlay">
									<h4 class="card-title">{{title}}</h4>
								</div>
							</div>
						</a>
					</div>
					{{/books}}
				</div>
                

            </div>
            <div class="daw-buttons d-flex justify-content-between ">
				<button type="button" class="btn btn-primary" id="buttonMoreWorks" onClick="loadMoreWorks()">Mas</button>
            
            	{{#admin}}
            	<a href="/newBook">
                	<button class="btn btn-primary">Añadir</button>
                </a>
                {{/admin}}
                <form action="/findByBook" method="get">
                        <div class="col-sm-10">
                            <input type="text" class="form-control text-truncate" placeholder="Titulo" name="title">
                        </div>
                        <div class="col-sm-0">
                        <button class="btn btn-primary">Buscar</button>
                    	</div>
                </form>
            </div>
        </div>
    </div>
</div>