<div class="row top-row">
    <div class="book-form col">
        <div class="book-card card">
            <div class="container-row">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title">Libro</h4>
                    </div>
                </div>
                <div class="card-body">
                {{#book}}
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="colFormLabel1" class="col-md-3 col-form-label">Título
                                    obra</label>
                                <div class="col-md-6">
                                    <label class="form-control text-truncate" id="colFormLabel1">{{book.title}}</label>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">URL portada</label>
                                <div class="col-md-6">
                                    <label  class="form-control" id="URLPortada">{{urlImgCoverPage}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label"> Fecha</label>
                                <div class="col-md-6">
                                    <label type="date" class="form-control">{{publishDate}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel2"
                                       class="col-md-3 col-form-label">Editorial</label>
                                <div class="col-md-6">
                                    <label type="name" class="form-control" id="colFormLabel2">{{nameEdit}}</label>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">URL editorial</label>
                                <div class="col-md-6">
                                    <label type="text" class="form-control" id="URLEditorial">{{urlEdit}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-md">
                                <img id="imagen portada" alt="Imagen portada"
                                     src="/image/{{imgId}}" style="width: 140px">
                                <label for="imagen portada">Imagen portada</label>
                            </div>
                            <div class="col-md">
                                <img id="imagen editorial" alt="Imagen portada"
                                     src="" style="width: 140px">
                                <label for="imagen editorial">Imagen editorial</label>
                            </div>
                        </div>
                        {{/book}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>