<div class="row top-row">
    <div class="col">
        <div class="card card-custom ">
            <div class="card-body table-responsive grid-container">
                <div class="title-and-references ">

                    <div class="title-theme">
                        Aqui iría el nombre del tema de la cita que se va a agregar
                    </div>


                    <div class="reference-1 caja-referencia">
                        <div class="card-custo card">
                            <form form action="/saveCitation" method="post">
                                <div class="card-header card-header-warning">
                                    <p class="card-title">Cita id</p>

                                </div>
                                <div class="card-body table-responsive">
                                    <div class="contenido-referencia">

                                        <input type="text" class="texto-referencia" name="text">
                                        <input type="text" class="autor-referencia" value="author.cita">
                                        <input type="text" class="libro-referencia" value="book.cita">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="html-generator " id="right-box">
                    <div id="html-box">
                        <p id="text-html">
                            Lorem ipsum dolor sit amet consectetur adipiscing, elit porta vehicula
                            quis nullam fames cras, felis erat lacinia id commodo. Per ut himenaeos
                            ante dictumst fringilla montes tristique, viverra cras non nibh integer
                            leo, eget torquent natoque tellus semper phasellus. Habitasse magnis
                            nulla netus risus fermentum orci cras, viverra suspendisse at praesent
                            ac convallis, dapibus cubilia luctus quis vehicula scelerisque.
                            <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
