<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://github.com/CodeURJC-DAW-2018-19/santatecla-bibliografia-1">Grupo 1 - Diseño de
                        Aplicaciones Web </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy; 2019 made by
            <a href="https://www.urjc.es" target="_blank">GRUPO 1</a> para DAW (URJC)
        </div>
    </div>
</footer>
<!-- End Footer -->