<div class="row top-row">
    <div class="col">
        <div class="card card-custom ">
            <div class="card-body table-responsive grid-container">
                <div class="title-and-references ">
                    <div class="title-theme">
                        Literatura Clásica
                    </div>

                    <div class="reference-1 caja-referencia">
                        <div class="card-custo card">
                            <div class="card-header card-header-warning">
                                <p class="card-title">Cita 1</p>

                            </div>
                            <div class="card-body table-responsive">
                                <div class="contenido-referencia">
                                    <div class="texto-referencia">
                                        El misterio de la vida no es un problema a resolver, sino
                                        una realidad a experimentar
                                    </div>
                                    <div class="autor-referencia">
                                        Frank Herbert
                                    </div>
                                    <div class="libro-referencia">
                                        Duna

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="reference-2 caja-referencia">
                        <div class="card-custom card">
                            <div class="card-header card-header-warning">
                                <p class="card-title">Cita 2</p>

                            </div>
                            <div class="card-body table-responsive">
                                <div class="contenido-referencia">
                                    <div class="texto-referencia">
                                        Estar solo no tiene nada que ver con cuantas personas hay
                                        alrededor
                                    </div>
                                    <div class="autor-referencia">
                                        Richard Yates
                                    </div>
                                    <div class="libro-referencia">
                                        Revolutionary Road

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reference-1 caja-referencia">
                        <div class="card-custom card">
                            <div class="card-header card-header-warning">
                                <p class="card-title">Cita 3</p>

                            </div>
                            <div class="card-body table-responsive">
                                <div class="contenido-referencia">
                                    <div class="texto-referencia">
                                        Sea un hombre o sea más que un hombre. Sea firme con su
                                        propósito y firme como una piedra
                                    </div>
                                    <div class="autor-referencia">
                                        Mary Shelley
                                    </div>
                                    <div class="libro-referencia">
                                        Frankestein

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="reference-1 caja-referencia">
                        <div class="card-custom card">
                            <div class="card-header card-header-warning">
                                <p class="card-title">Cita 4</p>

                            </div>
                            <div class="card-body table-responsive">
                                <div class="contenido-referencia">
                                    <div class="texto-referencia">
                                        El hombre débil se vuelve fuerte cuando no tiene nada,
                                        porque sólo entonces puede sentir la locura de la
                                        desesperación
                                    </div>
                                    <div class="autor-referencia">
                                        Arthur Conan Doyle
                                    </div>
                                    <div class="libro-referencia">
                                        La compañía blanca

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reference-1 caja-referencia">
                        <div class="card-custom card">
                            <div class="card-header card-header-warning">
                                <p class="card-title">Cita 5</p>

                            </div>
                            <div class="card-body table-responsive">
                                <div class="contenido-referencia">
                                    <div class="texto-referencia">
                                        Si buscas la perfección nunca estarás contento
                                    </div>
                                    <div class="autor-referencia">
                                        Leo Tolstoy
                                    </div>
                                    <div class="libro-referencia">
                                        Anna Karenina

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reference-3 caja-referencia">

                    </div>

                </div>
                <div class="html-generator " id="right-box">
                    <div id="html-box">
                        <p id="text-html">
                            Lorem ipsum dolor sit amet consectetur adipiscing, elit porta vehicula
                            quis nullam fames cras, felis erat lacinia id commodo. Per ut himenaeos
                            ante dictumst fringilla montes tristique, viverra cras non nibh integer
                            leo, eget torquent natoque tellus semper phasellus. Habitasse magnis
                            nulla netus risus fermentum orci cras, viverra suspendisse at praesent
                            ac convallis, dapibus cubilia luctus quis vehicula scelerisque.
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>