<div class="row top-row">
	<div class="col">
		<div class="card card-custom ">
			{{#theme}}
			<div class="card-body table-responsive grid-container">
				<div class="title-and-references ">
					<div class="title-theme">
						<form class="form-horizontal col-sm-8"
							action="/theme/{{id}}/updateTheme" method="post">
						
							{{#admin}} <input type="text" class="form-control text-truncate"
								name="name" value="{{name}}"> {{/admin}} {{^admin}}
							<h4>{{name}}</h4>
							{{/admin}} {{#admin}}
							<button type="submit" class="btn btn-primary">Actualizar</button>
							{{/admin}}
						</form>
					</div>
					{{#citations}}
					<div class="reference-1 caja-referencia">
						<div class="card-custo card">
							<div class="card-header card-header-warning">
								<p class="card-title">Cita</p>

							</div>
							<div class="card-body table-responsive">
								<div class="contenido-referencia">
								<div class="texto-referencia">
									<form class="form-horizontal col-sm-8"
										action="/theme/{{id}}/updateCitation" method="post">
										{{^admin}}
										{{text}}
										{{/admin}} {{#admin}} <input type="text"
											class="form-control text-truncate" name="text"
											value="{{text}}"> {{/admin}} {{#admin}}
										<button type="submit" class="btn btn-primary">Actualizar</button>
										{{/admin}}
									</form>
									</div>
									{{^admin}}
									<div class="autor-referencia">{{book.author.name}}</div>
									{{/admin}} {{^admin}}
									<div class="libro-referencia">{{book.title}}</div>
									{{/admin}}
								</div>
							</div>
						</div>

					</div>

					<div>
						<form class="form-horizontal col-sm-8"
							action="/theme/{{id}}/deleteCitation" method="post">
							{{#admin}}
							<button type="submit" class="btn btn-sencondary">Eliminar</button>
							{{/admin}}
						</form>
					</div>
					{{/citations}}

				</div>
				<div class="html-generator " id="right-box">
					<div id="html-box">
						<p id="text-html">Lorem ipsum dolor sit amet consectetur
							adipiscing, elit porta vehicula quis nullam fames cras, felis
							erat lacinia id commodo. Per ut himenaeos ante dictumst fringilla
							montes tristique, viverra cras non nibh integer leo, eget
							torquent natoque tellus semper phasellus. Habitasse magnis nulla
							netus risus fermentum orci cras, viverra suspendisse at praesent
							ac convallis, dapibus cubilia luctus quis vehicula scelerisque.
						<p>
					</div>
				</div>
			</div>
			</form>
			{{/theme}}
		</div>
		<form class="form-horizontal col-sm-8"
			action="/theme/{{id}}/deleteTheme" method="post">
			{{#admin}}
			<button type="submit" class="btn btn-sencondary">Eliminar
				tema</button>
			{{/admin}}
		</form>
	</div>
</div>