<div class="row top-row">
    <div class="col">
        <div class="card card-custom ">
            <div class="card-body table-responsive grid-container">
                <div class="title-and-references ">
                	{{#theme}}
                    <div class="title-theme">
                        {{name}}
                    </div>
                    {{/theme}}
					<!--  {{#citation}}-->
                    <div class="reference-1 caja-referencia">
                        <div class="card-custo card">
                            <div class="card-header card-header-warning">
                                <p class="card-title">Cita 1</p>

                            </div>
                            <div class="card-body table-responsive">
                                <div class="contenido-referencia">
                                    <div class="texto-referencia">
                                        El misterio de la vida no es un problema a resolver, sino
                                        una realidad a experimentar
                                    </div>
                                    <div class="autor-referencia">
                                        Frank Herbert
                                    </div>
                                    <div class="libro-referencia">
                                        Duna
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  {{/citation}}-->
                </div>
                <div class="html-generator " id="right-box">
                    <div id="html-box">
                        <p id="text-html">
                            Lorem ipsum dolor sit amet consectetur adipiscing, elit porta vehicula
                            quis nullam fames cras, felis erat lacinia id commodo. Per ut himenaeos
                            ante dictumst fringilla montes tristique, viverra cras non nibh integer
                            leo, eget torquent natoque tellus semper phasellus. Habitasse magnis
                            nulla netus risus fermentum orci cras, viverra suspendisse at praesent
                            ac convallis, dapibus cubilia luctus quis vehicula scelerisque.
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>