<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- BEGIN topNavBar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
    <div class="our-title">
        <a class="navbar-brand">CITAS BIBLIOGRÁFICAS</a>
        <img src="/img/icons/quotes.png" alt="Logo" style="width:40px;">
    </div>
    <div class="container daw-navbar">
        <!-- Brand -->
        <div class="navbar-header">
            <a class="navbar-brand nav-item active" href="/">INICIO</a>
        </div>
        <!--<button type="button" class="btn btn-round" data-toggle="modal" data-target="#loginModal">Login</button>-->
		<a class="btn btn-round" href="/login" method="post" role="button">Login</a>
        
    </div>
</nav>
<!-- END topNavBar -->