<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
<!-- BEGIN topNavBar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
    <div class="our-title">
        <a class="navbar-brand">CITAS BIBLIOGR&AacuteFICAS</a>
        <img src="/img/icons/quotes.png" alt="Logo" style="width:40px;">
    </div>
    <div class="container daw-navbar">
        <!-- Brand -->
        <div class="navbar-header">
            <a class="navbar-brand nav-item active" href="/">INICIO</a>
        </div>
        <a type="button" class="btn btn-round" href="/logout" method="post" >Logout</a>
		<!--<form type="button" class="btn btn-round" action="/logout" method="post" >
			<input type="submit" value="Sign Out" />
		</form>-->
    </div>
</nav>
<!-- END topNavBar -->