<!-- BEGIN topNavBar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
    <div class="our-title">
        <a class="navbar-brand">CITAS BIBLIOGRÁFICAS</a>
        <img src="/img/icons/quotes.png" alt="Logo" style="width:40px;">
    </div>
    <div class="container daw-navbar">
        <!-- Brand -->
        <div class="navbar-header">
            <a class="navbar-brand nav-item active" href="loginmodal.html">INICIO</a>
        </div>

        <button type="button" class="btn btn-round" data-toggle="modal" data-target="#logoutModal">Logout</button>

    </div>
</nav>
<!-- END topNavBar -->