<div flex layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    <!-- Se borrará-->
    <div flex-gt-sm="80">
        <router-outlet></router-outlet>
    </div>
    <!--/Se borrará-->
    <!--Columns -->
    <div flex-gt-sm="33">
        <themeColumn></themeColumn>
    </div>
    <div flex-gt-sm="33">
        <bookColumn></bookColumn>
    </div>
    <div flex-gt-sm="33">
        <authorColumn></authorColumn>
    </div>
    
    <!--<div flex-gt-sm="33">
        <mat-card>
            <mat-card-title>
                <div layout="row" layout-align="start center">
                    <span flex>Card title</span>
                    <span>
                        <button mat-icon-button matTooltip="Card settings" [mat-menu-trigger-for]="settings2">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu xPosition="before" #settings2="matMenu">
                            <button mat-menu-item>Settings</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <div class="pad">
                <div [style.height.px]="250">
                    <ngx-charts-bar-vertical-2d [scheme]="{ domain: ['#4DD0E1', '#BA68C8', '#FF7043'] }"
                        [results]="multi" [barPadding]="18" [groupPadding]="28" [gradient]="true" [xAxis]="true"
                        [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false">
                    </ngx-charts-bar-vertical-2d>
                </div>
            </div>
        </mat-card>
    </div>-->
    <div flex layout-gt-sm="row" layout-align="center center">
        <div flex-gt-sm="100">
            <button mat-raised-button matTooltip="Histograma" class="push-left-md">
                <mat-icon>add</mat-icon> Histograma
            </button>
        </div>
    </div>
</div>
<!--/Columns-->